$buttonFont:Helvetica, Arial, sans-serif;

html, body{
    overflow: hidden;
}

@mixin paddings ($size) {
    padding: $size ($size*2);
}


@mixin displayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin buttons{
    border:none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}


body{
    @include displayFlex();
    margin: 0;
    padding: 0;
    background-color: burlywood;
    height: 100vh;
    overflow: hidden;
}


.container{

    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    @include paddings(10px);
    text-align: center;

    h1{
        font-family: $buttonFont;
    }

    .selection{

        text-align: center;

        .button{
            @include paddings(10px);
            @include buttons();
            font-size: 20px;
            background: transparent;
            transition: .2s ease-in;
        }
    
        
    
        input{
            font-size: 24px;
            font-family: $buttonFont;
            cursor: pointer;
            border: none;
        }

    }

    .buttonCalc, .buttonReload{
        @include buttons();
        @include paddings(10px);
        width: 100%;
    }

    .buttonReload{
        background-color: rgb(53, 53, 247);
        color: white;
    }


    .results{

        @include displayFlex();
        flex-direction: column;

        text-align: center;
        font-family: $buttonFont;

        p{
            color: darkgrey;
        }

        table{

            p{
                color: black;
            }

            td{
                width: 250px;
                height: 125px;
                font-size: 20px;
            }
    

            .good{
                color: green;
            }

            .bad{
                color: red;
            }

            .desc{
                font-size: 14px;
            }

        }

        table,th,td{
            padding: 10px;
            border-collapse: collapse;
            border: 3vw solid rgb(221, 221, 221);
            box-sizing: border-box;
        }

    }

}

.footer{
    position: fixed;
    bottom: 10px;
    font-family: $buttonFont;
    font-size: 12px;
}


.selected{
    background-color: rgb(45, 45, 226) !important;
    color: white;
}

.hide{
    display: none !important;
}




@media only screen and (max-width: 600px){

    .container{
        width: 70%;
    }

}
